:root {
  --color-black: #000;
}

/* global */
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}

.body {
  margin: 0 auto;
  width: 1440px;
  font-family: "Cardo", Helvetica, sans-serif;
}

/* header */
.header {
  padding: 16px 20px 17px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 35px;
}

.header__nav {
  width: 100%;
  align-items: center;
}

/* псевдоэлемент для выравнивания логотипа по центру */
.header__nav::after {
  content: "";
  flex: 1;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  gap: 20px;
  flex: 1;
}

.header__nav-item-link {
  font-size: 17px;
  color: var(--color-black);
}

/* main */

.hero {
  position: relative;
}

.hero__img {
  object-fit: cover;
}

.hero__title {
  position: absolute;
  margin: 0;
  max-width: 807px;
  top: 257px;
  left: 316px;
  text-align: center;
  font: bold 27px/38.4px "Roboto", sans-serif;
  letter-spacing: 0.2px;
  color: #fff;
}

.examples-slider__swiper {
  width: 1120px;
  height: 550px;
}

.examples-slider__swiper .swiper-slide a {
  position: absolute;
  z-index: 2;
  top: 41px;
  right: 20px;
}

.reviews__swiper {
  width: 1242px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.examples__pics {
  font-size: 0;
}
